*{
    box-sizing: border-box;
}

body{
    /* background-color: #474e5d; */
    font-family: Helvetica, sans-serif;
}

.btn1{
    width:150px;
    display: inline-block;
    /* background:rgb(255, 136, 0); */
    background-color: rgb(235, 233, 233);
    padding: 5px 20px;
    color: black;
    border:none;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
}

.login{
    height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.login .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


.btn{
    width:150px;
    display: inline-block;
    background:rgb(255, 136, 0);
    padding: 5px 20px;
    color: white;
    border:none;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 200px auto;
    /* border: 2px solid red; */
}

.timeline:after{
    content: '';
    position: absolute;
    width:6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    /* border: 2px solid red; */
}

.container{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    /* border: 2px solid green; */
}

.container:after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
    animation: 0.7s ease-in 0s 1 slideInFromLeft;
}

.right {
    left: 50%;
    animation: 0.7s ease-in 0s 1 slideInFromRight;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
    /* animation-play-state:unset; */
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    /* animation-play-state: paused; */
}

.right::after {
    left: -16px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(-100%);
      transform: translateX(-100%) rotate(-20deg);
      /* transform:rotate(-20deg); */
      
    }
    /* 100% {
        transform: translateX(0);
        transform: translateY(0%);
    } */
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        transform: translateY(100%);
        transform: translateX(100%) rotate(20deg);
    }
    /* 100% {
        transform: translateX(0);
        transform: translateY(0%);
    } */
  }

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    height: 200px;
    
}
